* {
  margin: 0;
}

body {
  background-color: #444444;
}

h1 {
  text-align: center;
}

h1:not(:first-child) {
  margin-top: 50px;
}

.chart {
  width: 600px;
  height: 150px;
  background-color: #f7f7f7;
  margin: 25px auto;
}

.logChart {
  width: 200px;
  height: 500px;
  background-color: #f7f7f7;
  margin: 25px auto;
}
